{% extends "inventex.html" %}
{% block content %}

<div class="container">
         <div class="jumbotron">

         <h2 >Etes-vous intéressé par ce site?</h2>
         <address>
            <p class="alert alert-success">Vous pouvez me contacter à cette adresse :<br>
              <strong>Olivier Gaillard</strong><br>
              Hohle Gasse 12 / Au Bourg<br>
              3095 Spiegel (CH) / 01190 Chavannes-sur-Reyssouze (FR)<br>
              <span class="glyphicon glyphicon-phone"></span> +41 79 398 17 62 <br>
              <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@metacoherence.ch">
                   metacoherence.ch</span> </a>
             </p>
         </address>
         </div>
</div>


{% endblock %}