{% extends "inventex.html" %}
{% block content %}

<div class="container">
    <div class="col-md-10">
        <h3>Liste des tâches</h3>
      <div class="list-group">
        <li class="list-group-item active">Recueillir votre retour, vos envies, suggestions<span class="pull-right glyphicon glyphicon-pushpin"></span> </li>
        <li class="list-group-item">Améliorer l'affichage de tous les livres (pagination)<span class="pull-right glyphicon glyphicon-pushpin"></span> </li>
        <li class="list-group-item">éditer les quantités du panier<span class="pull-right glyphicon glyphicon-pushpin"></span> </li>
        <li class="list-group-item">un champ de recherche pour retrouver un livre par auteur ou par titre
            <span class="pull-right glyphicon glyphicon-pushpin"></span> </li>
        <li class="list-group-item">processus de commande (avec / ou sans la création d'un compte client)
            <span class="pull-right glyphicon glyphicon-pushpin"></span> </li>
        <li class="list-group-item">un processus de paiement sécurisé (Paypal par exemple)
            <span class="pull-right glyphicon glyphicon-pushpin"></span> </li>
        <li class="list-group-item">entrer des livres avec l'interface d'administration<span class="pull-right glyphicon
        glyphicon-check"></span> </li>
        <li class="list-group-item">entrer des livres en téléversant un fichier CSV (généré par Excel / OpenOffice)<span class="pull-right glyphicon
        glyphicon-pushpin"></span> </li>
        <li class="list-group-item">et bien sûr, une page d'accueil bien plus attrayante que celle-ci!<span class="pull-right glyphicon glyphicon-pushpin"></span> </li>
        <li class="list-group-item">Création d'une base de livres minimaliste<span class="pull-right glyphicon glyphicon-check"></span> </li>
        <li class="list-group-item">Affichage des livres avec photo (miniature / agrandie)<span class="pull-right glyphicon glyphicon-check"></span> </li>
        <li class="list-group-item">Affichage dynamique des catégories: on en rajoute une, elle s'affiche<span class="pull-right glyphicon glyphicon-check"></span> </li>
        <li class="list-group-item">Un panier d'achat avec ajout d'un livre sans être inscrit et sauvegarde du panier pendant 2 semaines<span class="pull-right glyphicon glyphicon-check"></span> </li>
        <li class="list-group-item">vider le panier d'achat<span class="pull-right glyphicon glyphicon-check"></span> </li>
        <li class="list-group-item">Afficher la quantité du panier d'achat<span class="pull-right glyphicon glyphicon-check"></span> </li>
      </div>
   </div>
</div>

{% endblock %}